body {
  background-color: #22223b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 800px;
  height: 500px;
  background-color: white;
}
.submit {
  background-color: rebeccapurple;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.result {
  background-color: white;
  display: none;
}
